@font-face
  font-family Roboto
  font-style normal
  font-weight 400
  src url(../fonts/Roboto.woff2) format(woff2), url(../fonts/Roboto.woff) format(woff), url(../fonts/Roboto.ttf) format(truetype);

body
  font-family Roboto
  color #071321
  background-color #f3f3f9
  -webkit-font-smoothing antialiased

button, div, input
  outline 0
  -webkit-box-shadow none
  box-shadow none

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
  font-family 'Roboto'

.h1, h1
  font-size 36px
  line-height 42px
  font-weight 400

  @media only screen and (max-width: 1023px) and (min-width: 768px)
    line-height normal

a
  text-decoration none
  color inherit
  &:hover
    outline 0
    color inherit
