div(class='main-filter-wrapper')
    div(class='main-filter')
        div(class='main-filter__title')
            h1 Новостройки в Москве и области
        form(class='main-filter__form')
            div(class='main-filter__inputs')
                div(class='main-filter__location location-input')
                    input(type='text')
                    div(class='location-input__dynamic-label') Город, район, метро, название ЖК
                    div(class='location-input__bottom-line')
                    div(class='location-input__tips')
                input(type='text')
                input(type='text')
            div(class='main-filter__controls')
                