doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title='Filter box'
    body
        div(class="container page-wrapper")
            include components/filter-box/filter-box.pug
    